hr{
    opacity: 10%;
}

.cap{
    text-transform: capitalize;
}

h4{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.pre{
    text-align: left;
}

select{
    border-color: white;
    opacity: 40%;
}

input[type="search"]{
    border-radius: 10px;
    width: 80px;
    border-color:aqua;
}

.aa{
    width: 400px;
}

.ab{
    opacity: 40%;
}

.ac{
    opacity: 40%;
}
p.type{
    width: 130px;
    border: 1px;
    color: blue;
}
p.add{
    opacity: 40%;
}

td.tab{
    border: 2px solid aqua;
    width: 200px;
    text-align: center;
    padding: 10px;
}

.a{
    font-family: Arial, Helvetica, sans-serif;
}

