<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML Tags</title>    
</head>
<body style="margin:100px;">
   <form th:action="@{/add-student}" method="post" th:object="${studentDTO}">
   		 
   		 <h1>ADD STUDENT</h1>
        <label for="name">Name</label>
        <input type="text" th:field="*{name}" id="name" placeholder="Enter your name">
        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
        <br>
        <label for="age">Age</label>
        <input type="number" th:field="*{age}"  id="age" placeholder="Enter your age">
        <p th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></p>
        <br>
        <label for="email">Email</label>
        <input type="text" th:field="*{email}" id="email" placeholder="Enter your email">
        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
        <br>
        <label for="password">Password</label>
        <input type="password" th:field="*{password}"  id="password" placeholder="Enter your password">
        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
        <br>
        <input type="submit" value="add_student">
    </form>
</body>
</html>